/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh; /* Relative height */
  width: 100vw; /* Full width of the screen */
}

.header-left,
.header-right {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-left span {
  margin-right: 20px;
}

.header-right ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.header-right ul li {
  margin-right: 20px;
}

.header-right ul li:last-child {
  margin-right: 0;
}

.header-right ul li a {
  text-decoration: none;
  color: black;
}

/* Home */
.home-container {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #d8dfd7;
}

.image-container {
  position: relative; /* Add position relative */
  flex: 1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content to the bottom */
  align-items: flex-end; /* Align content to the right */
  padding: 2vw; /* Use relative padding */
}

.title-box {
  position: absolute;
  width: 20vw; /* Use relative width */
  height: 10vh; /* Use relative height */
  top: 15vh; /* Use relative top position */
  left: calc(100% - 40vw); /* Use relative left position */
  display: flex;
  justify-content: flex-start; /* Align title to the left within the box */
  align-items: center;
}

.title {
  font-family: "Libre Baskerville", serif;
  font-size: 2vw; /* Use relative font size */
  text-align: left; /* Align title text to the left */
  margin-left: 2vw; /* Use relative left margin for spacing */
}

.content {
  margin-top: 2vh; /* Use relative margin between title box and content box */
  padding: 2vw; /* Use relative padding */
  border-radius: 1vw; /* Use relative border radius */
  width: 20vw; /* Use relative width */
  height: 10vh; /* Use relative height */
}

.content p {
  margin-bottom: 1vh; /* Use relative spacing between paragraphs */
}

.content a {
  color: #000;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}
