/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto; /* Remove fixed height */
  max-width: 100vw;
  overflow: hidden;
  padding: 10px; /* Add padding to create space for the border */
  border: 2px solid black; /* Add border around the entire header */
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  margin-right: 20px;
}

.logo {
  height: 30px;
}

.header-right ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.header-right ul li {
  margin-right: 20px;
}

.header-right ul li:last-child {
  margin-right: 0;
}

.header-right ul li a {
  text-decoration: none;
  color: black;
}

/* Ensure all rectangles have same height */
.header-right ul li {
  display: flex;
  align-items: center;
}

.header-right ul li:before {
  content: "";
  display: inline-block;
  width: 10px; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
  border: 2px solid black;
  margin-right: 10px;
}

/* Home */
.home-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; /* Take full height of the viewport */
}

.home-container-left {
  flex: 1; /* Take 50% width */
}

.home-container-right {
  flex: 1; /* Take 50% width */
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-home {
  width: 20vw;
}
